/* Estilos para el cuerpo de la página */
body {
    background-color: #dddddd; /* Color de fondo gris */
    margin: 0; /* Eliminar margen predeterminado del cuerpo */
    font-family: sans-serif;
}

header {
    background-color: #ffffff;
    width: 100%; /* Ancho completo */
    overflow: hidden;
    padding: 0px; /* Añadido espacio alrededor de la barra de navegación */
    z-index: 1;
}

/* Estilos para la barra de navegación */
.barra-navegacion {
    display: flex; /* Utilizamos flexbox para alinear elementos */
    align-items: center; /* Centramos verticalmente los elementos */
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    z-index: 999; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.izquierda {
    display: flex;
    align-items: center; /* Centramos verticalmente los elementos */
}

.barra-navegacion img {
    height: 70px; /* Altura del logo */
    padding: 10px; /* Espaciado alrededor del logo */
    border-radius: 70%;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}

.hamburger ._layer {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px;
    transition: all 0.3s ease;
}

.menuppal {
    display: flex;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    .menuppal {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f3de8aab;
        z-index: 2;
    }
    .menuppal.is_active {
        display: flex;
    }
    .botones {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .botones a {
        width: 100%;
        text-align: center;
        padding: 10px;
        box-shadow: none;
    }
}

.botones {
    display: flex;
    align-items: center; /* Centramos verticalmente los elementos */
    line-height: 40px;
    color: #F5F5F5;
    font-size: 30px; /* Tamaño del botón */
    list-style: none;
    margin: 0; /* Eliminamos cualquier margen predeterminado */
    padding: 0; /* Eliminamos cualquier padding predeterminado */
}

.botones a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff; 
    padding: 10px 20px; 
    background-color: #fcdc5c; 
    border-radius: 10px;
    margin-right: 10px; 
    box-shadow: 0 2px 4px #ffffffb0; 
}

main {
    flex: 1; /* El contenedor principal toma todo el espacio disponible */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

.banner {
    position: relative;
    width: 100%;
    height: 500px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    z-index: -1; /* Para que la imagen de fondo esté detrás del contenido */
    position: absolute;
    top: 0;
    left: 0;
}

/* Estilos para el contenedor de los elementos */
.contenido-principal {
    color: white; /* Color de texto blanco */
    text-align: center; /* Centrar el texto horizontalmente */
    position: absolute; /* Posicionamiento absoluto para colocarlos encima de la imagen */
    top: 50%; /* Ajustado para centrar verticalmente en dispositivos móviles */
    left: 50%; /* Ajusta la posición horizontal al centro */
    transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
    width: 90%; /* Ancho del contenedor */
    max-width: 800px; /* Ancho máximo para el contenido */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el ancho */
}

/* Estilos para los títulos */
.contenido-principal h1,
.contenido-principal h2,
.contenido-principal h3 {
    position: relative; /* Cambiado a relativo */
    z-index: 1; /* Asegura que los títulos estén sobre el fondo */
    display: block; /* Mostrar como bloque en línea para ajustarse al contenido */
    width: fit-content; /* Ajustar el ancho al contenido del texto */
    padding: 10px 5px; /* Ajustar el padding según sea necesario */
    background-color: rgba(59, 59, 59, 0.685); /* Color de fondo */
    color: white; /* Color de texto */
    margin: 30px auto; /* Añadir margen arriba y abajo para separar los títulos */
    text-align: center;

}
.contenido-principal h1 {
    font-size: 30px; /* Tamaño de fuente para h1 */
}
.contenido-principal h2 {
    font-size: 50px; /* Tamaño de fuente para h2 */
    font-style: italic;
}
.contenido-principal h3 {
    font-size: 25px; /* Tamaño de fuente para h3 */
    font-weight: 200;
}

/* Estilos para el contenedor sobre nosotros */
.contenido-sobre-nos {
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Apila los divisores verticalmente */
    align-items: center; /* Alinea los divisores en el centro horizontal */
}

/* Estilos para los divisores */
.tarjeta {
    display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
    flex-direction:column; /* Apila los elementos verticalmente */
    background-color: #FFDE59; 
    border-radius: 20px;
    padding: 20px; 
    margin-bottom: 20px; 
    width: 90%; 
    box-sizing: border-box; 
    overflow: hidden; /* Oculta el contenido que desborda del divisor */
    align-items: center;
}

.tarjeta:first-of-type {
    margin-top: 20px; /* Añade espacio entre el primer divisor y el banner */
}

.texto{
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding:10px; /* Añade espacio interno */
    margin: -40 px 0; /* Añade margen arriba y abajo */
    width: 98%; /* Ancho del divisor */
    box-sizing: border-box; /* Incluye el padding en el ancho */
    overflow: hidden; /* Oculta el contenido que desborda del divisor */
    color: #767272;
}
/* Estilos para el título h4 dentro de los divisores */
.tarjeta h4{
    font-size: 30px; 
    font-weight:bolder;
    color: #ffffff;
}

.tarjeta h5{
    font-size: 20px;
    font-style: italic;
    padding:0  10px;
}
/* Estilos para el párrafo p dentro de los divisores */
.texto p {
    font-size: 18px;
    padding: 0 10px;
    text-align: justify;
    align-self: center;
    align-self:baseline; /* Alinea el bloque de texto verticalmente */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto que se desborda */
}

footer {
    background-color: #ffffff;
    display: flex; /* Utiliza flexbox para alinear los elementos en fila */
    justify-content: space-around; /* Espacio igual entre los elementos */
    text-align: center; /* Centrar el texto dentro de cada p */
    padding: 5px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Añadir una ligera sombra para la separación visual */
    width: 100%; /* Asegura que el footer ocupe el ancho completo */
    font-size: 14px; /* Ajustar el tamaño de la letra si es necesario */
    color: #525252;
}