/* Estilos para el cuerpo de la página */
body {
    background-color: #dddddd; /* Color de fondo gris */
    margin: 0; /* Eliminar margen predeterminado del cuerpo */
}

/* Estilos para la barra de navegación */
.barra-navegacion {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    overflow: hidden;
    background-color: #faf73bab; 
    width: 100%; 
    text-align: left; 
    padding: 5px 0; 
    z-index: 999; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed; 
}

/* Estilos para el logo */
.barra-navegacion img {
    border-radius: 50%; 
    height: 50px; 
    padding: 10px; 
}

/* Estilos para los botones */
.botones {
    display: flex;
    align-items: center; 
}

.botones a {
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff; 
    padding: 10px 20px; 
    background-color: #faf73b79; 
    border-radius: 10px;
    margin-right: 10px; 
    box-shadow: 0 2px 4px #ffffffb0; 
}

/* Estilos para el fondo semi-transparente */
.fondo {
    width: auto;
    background-image: url('Fondo2.jpg');
    background-size: cover; /* Ajuste del tamaño de la imagen */
    z-index: -1; /* Para que la imagen de fondo esté detrás del contenido */
    opacity: 0.9; /* Ajusta el nivel de transparencia según tu preferencia */
    background-attachment: scroll; /* Hace que el fondo se desplace con la página */
    }

/* Estilos para el contenedor de los elementos */
.contenido-principal {
    color: white; /* Color de texto blanco */
    text-align: center; /* Centrar el texto horizontalmente */
    position: absolute; /* Posicionamiento absoluto para colocarlos encima de la imagen */
    top: 50%; /* Ajustado para centrar verticalmente en dispositivos móviles */
    left: 50%; /* Ajusta la posición horizontal al centro */
    transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
    width: 90%; /* Ancho del contenedor */
    max-width: 800px; /* Ancho máximo para el contenido */
  /*  max-height: 80vh; /* Altura máxima del 80% del viewport height */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el ancho */
    /*height: 100vh; /* Ajustado a 100% para cubrir toda la altura del viewport */
}

/* Estilos para los títulos */
.contenido-principal h1,
.contenido-principal h2,
.contenido-principal h3 {
    margin: 25px 0; /* Espaciado entre los elementos */
    position: relative; /* Cambiado a relativo */
    z-index: 1; /* Asegura que los títulos estén sobre el fondo */
}
.contenido-principal h1 {
    font-size: 30px; /* Tamaño de fuente para h2 */
}
.contenido-principal h2 {
    font-size: 40px; /* Tamaño de fuente para h2 */
}
.contenido-principal h3 {
    font-size: 20px; /* Tamaño de fuente para h2 */
    font-weight: 200;
}

/* Estilos para el contenedor sobre nosotros */
.contenido {
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Apila los divisores verticalmente */
    align-items: center; /* Alinea los divisores en el centro horizontal */
}

/* Estilos para los divisores */
.compra,
.aclaraciones
{
    display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
    flex-direction:column; /* Apila los elementos verticalmente */
    background-color: white; /* Color de fondo blanco */
    border-radius: 20px; /* Borde redondeado */
    padding: 20px; /* Añade espacio interno */
    margin-bottom: 20px; /* Espacio entre divisores */
    width: 90%; /* Ancho del divisor */
    box-sizing: border-box; /* Incluye el padding en el ancho */
    overflow: hidden; /* Oculta el contenido que desborda del divisor */
}

/* Estilos para el título h4 dentro de los divisores */
.titulo{
    padding: 5px; /* Espaciado interno */
    text-align: left;
    font-size: 20px; /* Tamaño de fuente para h4 */
    font-weight:bolder;
}

/* Estilos para el párrafo p dentro de los divisores */
p,ul,ol{
    margin-top: 10px; /* Espacio superior */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: 100; /* Grosor de la fuente */
    text-align:justify; /* Alineación del texto a la izquierda */
    align-self:baseline; /* Alinea el bloque de texto verticalmente */
    text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto que se desborda */
}


/* Estilos para las imágenes dentro de los divisores */
.aclaraciones img,
.compra img {
    width: 100%; /* Establece el ancho al 100% del contenedor padre */
    max-width: 80%; /* Cambiar esto a la anchura máxima deseada */
    height: auto; /* Para mantener la relación de aspecto */
    margin-right: 10px; /* Espacio entre las imágenes */
    border-radius: 5%; /* Hace que la imagen tenga bordes redondeados */
    align-self: center;
}
