/* Estilos para el cuerpo de la página */
body {
    background-color: #dddddd; 
    margin: 0; 
}

/* Estilos para la barra de navegación */
.barra-navegacion {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    overflow: hidden;
    background-color: #faf73bab; 
    width: 100%; 
    text-align: left; 
    padding: 5px 0; 
    z-index: 999; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed; 
}

/* Estilos para el logo */
.barra-navegacion img {
    border-radius: 50%; 
    height: 50px; 
    padding: 10px; 
}

/* Estilos para los botones */
.botones {
    display: flex;
    align-items: center; 
}

.botones a {
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff; 
    padding: 10px 20px; 
    background-color: #faf73b79; 
    border-radius: 10px; 
    margin-right: 10px; 
    box-shadow: 0 2px 4px #ffffffb0; 
}
/* Estilos para el fondo semi-transparente */
.fondo {
    width: auto;
    background-image: url('Fondo3.jpg');
    background-size: cover; /* Ajuste del tamaño de la imagen */
    z-index: -1; /* Para que la imagen de fondo esté detrás del contenido */
    opacity: 0.9; /* Ajusta el nivel de transparencia según tu preferencia */
    background-attachment: scroll; /* Hace que el fondo se desplace con la página */
    }

/* Estilos para el contenedor de los elementos */
.contenido-principal {
    color: white; 
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 90%; 
    max-width: 800px; 
    padding: 20px; 
    box-sizing: border-box; 
}

/* Estilos para los títulos */
.contenido-principal h1,
.contenido-principal h2,
.contenido-principal h3 {
    margin: 25px 0;
    position: relative; /* Cambiado a relativo */
    z-index: 1; /* Asegura que los títulos estén sobre el fondo */ 
}
.contenido-principal h1 {
    font-size: 30px; 
    font-weight:bolder;
}
.contenido-principal h2 {
    font-size: 40px;
}
.contenido-principal h3 {
    font-size: 20px; 
    font-weight: 200;
}

/* Estilos para el contenedor productos */
.contenido-productos {
    display: flex; /* Utiliza flexbox */
    flex-direction: column; /* Apila los divisores verticalmente */
    align-items: center; /* Alinea los divisores en el centro horizontal */
}

/* Estilos para los divisores */
.gorritos,
.Chalecos,
.Conjuntos
{
    display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
    flex-direction:column; /* Apila los elementos verticalmente */
    background-color: white; /* Color de fondo blanco */
    border-radius: 20px; /* Borde redondeado */
    padding: 20px; /* Añade espacio interno */
    margin-bottom: 20px; /* Espacio entre divisores */
    width: 90%; /* Ancho del divisor */
    box-sizing: border-box; /* Incluye el padding en el ancho */
    overflow:hidden; /* Oculta el contenido que desborda del divisor */
    align-items: center; /* Alinea los divisores en el centro horizontal */
}

/* Estilos para el título h4 dentro de los divisores */
.gorritos h4,
.Chalecos h4,
.Conjuntos h4 {
    background-color: white; /* Color de fondo blanco */
    padding: 5px; /* Espaciado interno */
    text-align: left;
    font-size: 24px; /* Tamaño de fuente para h4 */
    font-weight:bolder;
}

/* Estilos para las imágenes dentro de los divisores */
.gorritos img,
.Chalecos img,
.Conjuntos img {
    width: 100%; /* Ancho automático */
    display: block; /* Para que ocupen todo el ancho disponible */
    margin-right: 10px; /* Espacio entre las imágenes */
    border-radius: 5%; /* Hace que la imagen tenga bordes redondeados */
}

/* Estilos para el párrafo p dentro de los divisores */
p{
    margin-top: 10px; /* Espacio superior */
    font-size: 16px; /* Tamaño de la fuente */
    /*font-weight: bold; /* Grosor de la fuente */
    text-align: left; /* Alineación del texto a la izquierda */
    align-self: center; /* Alinea el bloque de texto verticalmente */
}
/* Estilos para el párrafo p dentro de los divisores */
ol {
    margin-top: 10px; /* Espacio superior */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: 100;
    text-align: left; /* Alineación del texto a la izquierda */
    align-self: center; /* Alinea el bloque de texto verticalmente */
}